@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
 </head>
    <body>
        <header>
            <img class="logo" src="./images/Etalo.png" alt="logo">
                <nav>
                    <ul class="nav_links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Cars</a></li>
                        <li><a href="#">Offers</a></li>
                        <li><a href="#">Locations</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
                    <a class="Signup" href="#"><button>Signup</button></a>        
         </header>
          <div class="hero-image">
            <div class="container">
                <h1><span>Renting a car has<br>never been this easy</span></h1>
                <span class="des">Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br> Rem omnis, facere possimus ducimus numquam nostrum</span>
            </div>
        </div> 
        <div class="Form">
            <form action="">
                <div class="Location">
                    <h1>PICK UP LOCATION</h1>
                    <select name="Select location" id="select">
                        <option value="Select location">Select location</option>
                    </select>
                </div>
                <div class="Location">
                    <h1>PICK UP DATE</h1>
                    <select name="Select Date" id="select">
                        <option value="Select Date">Select Date</option>
                    </select>
                </div>
                <div class="Location">
                    <h1>RETURN DATE</h1>
                    <select name="Select Date" id="select">
                        <option value="Select Date">Select Date</option>
                    </select>
                </div>
                <button id="Search">Search for Cars</button>
            </form>
             </div>
        <div class="Advert">
            <div class="Promotional-Content"></div>
        </div>
        <div class="Feature">
            <div class="Feature-text">
                <h1>Our Featured Cars</h1>
            </div>

        </div>
        <div class="Featured">
            <div class="card">
                <div class="card-image1"></div>
                <h2>Toyota Corolla T-20</h2>
                <p>Air Conditioned</p>
                <p>Bluetooth Sound System</p>
                <p>Sunroof Available</p>
                <a href="#">Rent Now</a>
            </div>
            <div class="card">
                <div class="card-image2"></div>
                <h2>Toyota Corolla T-20</h2>
                <p>Air Conditioned</p>
                <p>Bluetooth Sound System</p>
                <p>Sunroof Available</p>
                <a href="#">Rent Now</a>
            </div>
                <div class="card">
                <div class="card-image3"></div>
                <h2>Toyota Corolla T-20</h2>
                <p>Air Conditioned</p>
                <p>Bluetooth Sound System</p>
                <p>Sunroof Available</p>
                <a href="#">Rent Now</a>
            </div>
        </div>

        <div class="Why">
            <div class="Why we are different">
                <h1>Why we are different</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni modi assumenda voluptas.<br> Maxime est vel incidunt, maiores, sapiente perferendis .</p>
            </div>
        </div>
         <div class="Featured">
            <div class="card">
                <div class="card-image4"></div>
                <h2>Easy Booking</h2>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
               
            </div>
            <div class="card">
                <div class="card-image5"></div>
                <h2>Secure Payments</h2>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
               
            </div>
            <div class="card">
                <div class="card-image6"></div>
                <h2>24/7 Tracking</h2>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
            </div>
        </div>
        <div class="Testimonials">
            <div class="Testimonials-head">
                <h1>What do people say about us</h1>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            </div>
              <div class="container">    
            <div class="Testimonial">
                <div class="Testionial-image">
                    <img src="./images/Testimonial Image.png" alt="Testimonial-image">
                </div>
                <div class="Testimonial-text">
                    <p>“Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.<br /> Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.<br /> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.<br /> Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.“</p>

                    <p>__________________</p>                  
                    <h6>Anna De'Suza,</h6>
                    <h6>CEO at SpaceX</h6>
                </div>
            </div>
        </div>    
            
        </div> 
        
        <div class="Read">
            <div class="Our-Stories">
                <h1>Read Our Story</h1>
            </div>

        </div>
        <div class="Story-cards">
            <div class="Story-card">
                <div class="story-image1"></div>
                <button id="Search">Tags</button>
                <h2>Start a blog to reach<br>your creative peak</h2>
                <p>Amet minim mollit non deserunt ullamco<br>est sit aliqua dolor do amet sint. Velit<br>officia consequat duis enim velit mollit.</p>
                <a href="#">Find Out More</a>
            </div>
            <div class="Story-card">
                <div class="story-image2"></div>
                <button id="Search">Tags</button>
                <h2>Starting your traveling<br>blog with Vasco</h2>
                <p>Amet minim mollit non deserunt ullamco<br>est sit aliqua dolor do amet sint. Velit<br>officia consequat duis enim velit mollit.</p>
                <a href="#">Find Out More</a>
            </div>
            <div class="Story-card">
                <div class="story-image3"></div>
                <button id="Search">Tags</button>
                <h2>Caring is the new<br>marketing</h2>
                <p>Amet minim mollit non deserunt ullamco<br>est sit aliqua dolor do amet sint. Velit<br>officia consequat duis enim velit mollit.</p>
                <a href="#">Find Out More</a>
            </div>
        </div>
        <div class="Next-Drive">
            <div class="Next-Drive-Main">
                <div class="Drive-Text">
                    <h1>Find Your Next Long<br>Drive Now!</h1>
                    <div class="Drive-Form">
                        <form action="drive-form">
                            <div class="Drive-Location">
                                <h1>PICK UP LOCATION</h1>
                                <select name="Select location" id="select">
                                    <option value="Select location">Select location</option>
                                </select>
                            </div>
                            <div class="Drive-Location">
                                <h1>PICK UP DATE</h1>
                                <select name="Select Date" id="select">
                                    <option value="Select Date">Select Date</option>
                                </select>
                            </div>
                            <div class="Drive-Location">
                                <h1>RETURN DATE</h1>
                                <select name="Select Date" id="select">
                                    <option value="Select Date">Select Date</option>
                                </select>
                            </div>
                            <button id="Search">Search for Cars</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
         
        <footer class="footer">

            <ul class="r-footer">
                <li><h2>Etalo</h2>
                    <p>Rides for the daily<br>achievers </p>
               </li>
                <li>
                    <h2>Company</h2>
                    <ul class="box">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </li>
                <li class="features">
                    <h2>Features</h2>
                    <ul class="box h-box">
                        <li><a href="#">Vehicle Tracker</a></li>
                        <li><a href="#">iOS & Android Apps</a></li>
                        <li><a href="#">Business Tips</a></li>
                        <li><a href="#">Locations</a></li>
                    </ul>
                </li>
                <li>
                    <h2>Contact Us</h2>
                    <ul class="box">
                        <li><a href="#">info@teamapp.com</a></li>
                        <li><a href="#">(302)555-0107</a></li>
                        <li><a href="#">2972 Westheimer Rd, Santa</a></li>
                        <li><a href="#">Ana, Illinois 85486</a></li>
                    </ul>
                </li>
                 <li>
                    <h2>Get details and discounts</h2>
                    <p>Subscribe to our newsletter</p>
                    <form action="">
                        <input type="email" name="email" id="email" placeholder="Email">
                    </form>
                </li>
            </ul>
        </footer>


    </body>
</html>